In [4]:
def square(n):
    return n**2
square(2)

4

In [6]:
# list

l = [3,4,5,6,7,8,9]
n =[]

for i in l:
    n.append(square(i))
n

[9, 16, 25, 36, 49, 64, 81]

In [8]:
[i**2 for i in l]

[9, 16, 25, 36, 49, 64, 81]

In [9]:
# map functions func and yterables
map(square,l) # creates a map object

In [10]:
list(map(square,l)) # internally it maps every element to the function and runs and returns the result

[9, 16, 25, 36, 49, 64, 81]

In [11]:
for i in map(square,l):
    print(i)

9
16
25
36
49
64
81

In [12]:
l

[3, 4, 5, 6, 7, 8, 9]

In [13]:
list(map(lambda x : x**2,l))

[9, 16, 25, 36, 49, 64, 81]

In [16]:
c = lambda i: i**2

In [17]:
map(c,l)

In [18]:
list(map(c,l))

[9, 16, 25, 36, 49, 64, 81]

In [25]:
a = [1,2,3,4,5,6]
b = [7,8,9,4,5,7]
c = [2,4,5,6,7,8]

In [26]:
def sumation(x,y,z):
    return x+y+z

In [29]:
list(map(sumation,a,b,c))

[10, 14, 17, 14, 17, 21]

In [31]:
list(map(lambda x,y,z :x+y+z,a,b,c))

[10, 14, 17, 14, 17, 21]

In [32]:
l

[3, 4, 5, 6, 7, 8, 9]

In [40]:
def suma(x,y):
    return x+y

In [43]:
from functools import reduce

reduce(suma,l)

42

In [45]:
reduce(lambda x,y: x+y,l)

42

In [46]:
l

[3, 4, 5, 6, 7, 8, 9]

In [47]:
# filter only even numbers  
list(filter(lambda x : x%2 == 0,l))

[4, 6, 8]