In [ ]:
# Python basics practice

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10)) # index begins at 0 and excludes upper bound

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(10,3,-1)) # the -1 is an important parament for desc order ; range had 1, 2 or 3 args

[10, 9, 8, 7, 6, 5, 4]

In [ ]:
# List Manipulation

In [9]:
l = [3,4,5,6,5,6,7,8,8]
# map used for iteration

for i in l:
    print(l[i])

6
5
6
7
6
7
8
8
8

In [10]:
m = []
for i in l:
    m.append(i)

In [12]:
len(m)

9

In [16]:
s= 10
if s< 10:
    print(s)
elif s> 10:
    print(s)
else:
    print(s)

10

In [17]:
h = ["a","b","c",1,2]
n = []
for i in h:
    if type(i) == str:
        n.append(i)
print(n)

['a', 'b', 'c']

In [20]:
g =[]

for i in g:
    print(i)
else: # for else does not execute if we use a break or continue
    print("empty list")

empty list

In [29]:
k = 2
d = 5
s = 0
while k < d:
    s = s+i
    k = k+1
    print(s)

2
4
6

In [30]:
for x in 'aroona':
    print(x)

a
r
o
o
n
a

In [35]:
# break
for x in 'aroona':
    if x =="a" :
        print(x,"good")
        break
    else:
        print("else")
print("out of loop")

a good
out of loop

In [37]:
# continue

for x in 'aroona':
    if x == "o":
        continue
    else:
        print(x)

a
r
n
a

In [39]:
# input
input()

123

'123'

In [41]:
a = input()
type(a)

as

str

In [45]:
b = input()
b = int(b)
type(b)

123

int

In [48]:
[1,2,3]+ [] # concatination only of the same type

[1, 2, 3]

In [50]:
# String
a = 'aroona'
a+str(1)

'aroona1'

In [53]:
a.split('1') # splits based on delimiter

['aroona']

In [57]:
a.partition('o') # only the firt occurance of the delimiter

a.find('o') # counter starts at 0

2

In [63]:
'my name is {} {}'.format(input('what is your first name'),input('what is your last name'))

what is your first namearoona
what is your first nameatmaram

'my name is aroona atmaram'

In [74]:
a = []
a.insert(1,[1,2,3]) # position and the list
a

TypeError: insert expected 2 arguments, got 5

In [72]:
a.pop()

[1, 2, 3]

In [75]:
a.reverse() # change is permanenet; assigned to a vaiable

In [ ]:
# - sort  has to be same data type

In [80]:
a = ['a','b','c','d','a']
a.index('a')

0

In [ ]:
# Tuples immutable entity
# set
# dictionary